In [4]:
import pandas as pd
import glob

In [3]:
data = pd.read_csv("x_train_gr_smpl.csv")
data.head()

,0,1,2,3,4,5,6,7,8,9,...,2294,2295,2296,2297,2298,2299,2300,2301,2302,2303
0,78.0,77.0,76.0,82.0,87.0,92.0,104.0,119.0,117.0,120.0,...,87.0,79.0,72.0,76.0,83.0,95.0,99.0,98.0,95.0,94.0
1,73.0,75.0,79.0,78.0,76.0,75.0,89.0,107.0,133.0,125.0,...,96.0,93.0,85.0,77.0,69.0,73.0,83.0,100.0,101.0,101.0
2,72.0,75.0,79.0,77.0,81.0,89.0,105.0,109.0,86.0,90.0,...,98.0,95.0,88.0,80.0,73.0,71.0,74.0,80.0,89.0,95.0
3,67.0,70.0,74.0,80.0,93.0,107.0,110.0,96.0,69.0,100.0,...,112.0,92.0,87.0,82.0,77.0,72.0,70.0,72.0,81.0,88.0
4,74.0,74.0,73.0,72.0,77.0,87.0,104.0,109.0,84.0,83.0,...,100.0,98.0,99.0,100.0,99.0,89.0,78.0,66.0,68.0,72.0

In [6]:
glob.glob('/Users/zuuz/Desktop/CSV_Files/*.csv')

['/Users/zuuz/Desktop/CSV_Files/y_train_smpl_0.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_1.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_3.csv',
 '/Users/zuuz/Desktop/CSV_Files/x_train_gr_smpl.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_2.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_6.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_7.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_5.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_4.csv',
 '/Users/zuuz/Desktop/CSV_Files/x_train_smpl_bin.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_9.csv',
 '/Users/zuuz/Desktop/CSV_Files/y_train_smpl_8.csv']

In [7]:
data1 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_0.csv')
data2 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_1.csv')
data3 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_2.csv')
data4 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_3.csv')

In [8]:
data5 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_4.csv')
data6 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_5.csv')
data7 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_6.csv')
data8 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_7.csv')
data9 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_8.csv')
data10 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl_9.csv')

In [9]:
data11 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/x_train_smpl_bin.csv')

In [10]:
data12 = pd.read_csv('/Users/zuuz/Desktop/CSV_Files/y_train_smpl.csv')

In [11]:
data12.head()

   0
0  0
1  0
2  0
3  0
4  0

In [12]:
data6.head()

   0
0  1
1  1
2  1
3  1
4  1

In [36]:
frames = [data11, data12]
result = pd.concat(frames, axis=1)

In [37]:
result.head()

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,0
0,78.0,77.0,76.0,82.0,87.0,92.0,104.0,119.0,117.0,120.0,...,79.0,72.0,76.0,83.0,95.0,99.0,98.0,95.0,94.0,0
1,73.0,75.0,79.0,78.0,76.0,75.0,89.0,107.0,133.0,125.0,...,93.0,85.0,77.0,69.0,73.0,83.0,100.0,101.0,101.0,0
2,72.0,75.0,79.0,77.0,81.0,89.0,105.0,109.0,86.0,90.0,...,95.0,88.0,80.0,73.0,71.0,74.0,80.0,89.0,95.0,0
3,67.0,70.0,74.0,80.0,93.0,107.0,110.0,96.0,69.0,100.0,...,92.0,87.0,82.0,77.0,72.0,70.0,72.0,81.0,88.0,0
4,74.0,74.0,73.0,72.0,77.0,87.0,104.0,109.0,84.0,83.0,...,98.0,99.0,100.0,99.0,89.0,78.0,66.0,68.0,72.0,0

In [40]:
result.sample(frac=1)

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,0
6182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
9426,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
3152,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
564,32.0,32.0,33.0,34.0,34.0,32.0,31.0,30.0,31.0,31.0,...,31.0,30.0,28.0,29.0,30.0,31.0,32.0,31.0,30.0,1
4365,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
3815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
6359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
4411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2